
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {

    --ff-secondary: 'Kurale', serif;
    --ff-primary: 'Poppins', sans-serif;
    /*
    --fs-h1: 1.8em;
    --fs-h2: 1.7em;
    */
    --fs-h3: 1.4em;
     
    --fs-p: .9em;
    
    --clr-dark: rgb(33, 101, 156);
    --clr-light: #fff;
    --clr-accent: #DA7B93;
    --clr-bg: #2E151B;
   
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
    background-color:#F5F5F5;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F5F5F5 ;
    background-color: var(--clr-light);
}

/* Navigation */

.navbar {
    display: inherit;
    justify-content: flex-end;
}

.nav-link {
    justify-content: flex-end;
    margin-right: 5px;
    padding: 27px;
    text-decoration: none;
    color: rgb(33, 101, 156);
}

@media only screen and (max-width: 992px){

    #email {
        display: none;
    }
    
}


@media only screen and (max-width: 700px){

    #welcome {
        display: none;
    }  
}


.brand {
    justify-content: flex-start;
    margin-left: 20px;
    text-decoration: none;
}

.logo {
    color: rgb(33, 101, 156);
    text-decoration: none;
    padding: 30px;
}

.main {
    max-width: 100%;
    display: flex;
}

.container {
    width:100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
}

.first_section, .second_section, .third_section, 
.fourth_section {
    width: 600px;
    height: 470px;
    background-color: #fff;
    border: 2px solid #F5F5F5;
    border-radius: 4px;
    padding-bottom: 25px;
    box-shadow: 1px 1px 7px 1px rgb(33, 101, 156);
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    animation: fadeIn 2s ease;
    
}
@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateX(-40px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 1em 0;
}

.font-awesome {
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;
}

.content {
    margin: -30px auto;
    padding: 20px;
    width: 500px;
    height: 250px;
    text-align: justify;
}

h4 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    line-height: 2;
}

.happy-coding {
    text-align: center;
}

/* Footer */

footer {
    width: 100%;
    text-align: center; 
}

.footer_content {
    color: rgb(33, 101, 156);
    font-weight: bold;
    padding: 20px;
}

span {
    color: grey;
}

.task_content {
    text-align: center;
    margin-top: 100px;
}

